@mixin border-radius($radius){
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius; 
    border-radius: $radius; 
}
$border-color:#e3e3e3;
$border: 1px solid $border-color;
$bg-hover:#F4F4F4;
$loader-color:#000000;

div{
    box-sizing: border-box;
}
.view-container{
    width: 100%;
    max-widht:1200px;
    margin:0px auto;
    span.price{
        color:#000000;
        &.on-sale{
            color:red;
        }
    }
    
    .catalog{
        >.left{
            float:left;
            width:30%;
            padding:10px;
            #categogies-list{
                @include border-radius(10px);
                border:$border;
                display: block;
                padding:20px;
                .list-item{
                    margin-bottom:10px;
                    border-bottom: 1px solid $border-color;
                    &:hover{
                        background:$bg-hover;
                    }
                    .active{
                        font-weight: bold;
                    }
                }
            }
        }
        >.right{
            float:right;
            width:70%;
        }
        
        #products-list{
            width:100%;
            .list-item{
                width:25%;
                min-width:200px;
                min-height:200px;
                display: inline-block;
                vertical-align: top;
                padding:10px;
                cursor: pointer;
                
                .item-box{
                    width:100%;
                    height:100%;
                    min-height:200px;
                    border:$border;
                    padding:10px;
                    &:hover{
                        background:$bg-hover;
                    }
                }
                
            }
        } 
    }
}
#product-view{
    position:fixed;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.8);
    top: 0px;
    left: 0px;
    .product-box{
        @include border-radius(10px);
        border:$border;
        width:100%;
        max-width:500px;
        min-width:320px;
        height:100%;
        max-height:400px;
        min-height:320px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background:#ffffff;
        padding:20px;
    }
}
.pagination{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    a {
        text-decoration: none;
        padding: 6px 11px;
        margin-right: 6px;
        @include border-radius(3px);
        border: $border;
        cursor: pointer;
    }
}
.loader {
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, 0 -0.83em 0 -0.42em $loader-color, 0 -0.83em 0 -0.44em $loader-color, 0 -0.83em 0 -0.46em $loader-color, 0 -0.83em 0 -0.477em $loader-color;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, 0 -0.83em 0 -0.42em $loader-color, 0 -0.83em 0 -0.44em $loader-color, 0 -0.83em 0 -0.46em $loader-color, 0 -0.83em 0 -0.477em $loader-color;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, -0.087em -0.825em 0 -0.42em $loader-color, -0.173em -0.812em 0 -0.44em $loader-color, -0.256em -0.789em 0 -0.46em $loader-color, -0.297em -0.775em 0 -0.477em $loader-color;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, -0.338em -0.758em 0 -0.42em $loader-color, -0.555em -0.617em 0 -0.44em $loader-color, -0.671em -0.488em 0 -0.46em $loader-color, -0.749em -0.34em 0 -0.477em $loader-color;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, -0.377em -0.74em 0 -0.42em $loader-color, -0.645em -0.522em 0 -0.44em $loader-color, -0.775em -0.297em 0 -0.46em $loader-color, -0.82em -0.09em 0 -0.477em $loader-color;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, 0 -0.83em 0 -0.42em $loader-color, 0 -0.83em 0 -0.44em $loader-color, 0 -0.83em 0 -0.46em $loader-color, 0 -0.83em 0 -0.477em $loader-color;
    }
}
@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, 0 -0.83em 0 -0.42em $loader-color, 0 -0.83em 0 -0.44em $loader-color, 0 -0.83em 0 -0.46em $loader-color, 0 -0.83em 0 -0.477em $loader-color;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, 0 -0.83em 0 -0.42em $loader-color, 0 -0.83em 0 -0.44em $loader-color, 0 -0.83em 0 -0.46em $loader-color, 0 -0.83em 0 -0.477em $loader-color;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, -0.087em -0.825em 0 -0.42em $loader-color, -0.173em -0.812em 0 -0.44em $loader-color, -0.256em -0.789em 0 -0.46em $loader-color, -0.297em -0.775em 0 -0.477em $loader-color;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, -0.338em -0.758em 0 -0.42em $loader-color, -0.555em -0.617em 0 -0.44em $loader-color, -0.671em -0.488em 0 -0.46em $loader-color, -0.749em -0.34em 0 -0.477em $loader-color;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, -0.377em -0.74em 0 -0.42em $loader-color, -0.645em -0.522em 0 -0.44em $loader-color, -0.775em -0.297em 0 -0.46em $loader-color, -0.82em -0.09em 0 -0.477em $loader-color;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em $loader-color, 0 -0.83em 0 -0.42em $loader-color, 0 -0.83em 0 -0.44em $loader-color, 0 -0.83em 0 -0.46em $loader-color, 0 -0.83em 0 -0.477em $loader-color;
    }
}