<div class="item-box"  ui-sref="category.product({sku:item.sku})">
    <h4>{{item.name}}</h4>
    <span class="price" ng-class="{'on-sale':item.salePrice<item.regularPrice}">
        {{item.salePrice| currency}}
        <i ng-show="item.salePrice<item.regularPrice"><br>Save: {{item.regularPrice-item.salePrice | currency}}</i>
    </span>
</div>