<div ng-include  src="'/html/products/pagination.html'" ></div>
<div >
    <list-view id="products-list" data-source="catProducts.products" data-loading-promise="loadingProducts" data-item-template="'/html/products/item.html'" ></list-view>
</div>
<div ng-include  src="'/html/products/pagination.html'"></div>
<div ui-view="product-view"></div>
