<div class="pagination">
    <a class="navigation" ng-click="prevPage()" ng-show="catProducts.currentPage > 1" >prev</a>    
    Pages: {{catProducts.currentPage}} / {{catProducts.totalPages}}
    <a class="navigation" ng-click="nextPage()"  ng-show="catProducts.currentPage < catProducts.totalPages">next</a>    
</div>
