<div ng-show="viewProduct" id="product-view" ng-click="closeView()">
    <div class="product-box">
        <div ng-show="productLoading">
            <div class="loader">Loading...</div>
        </div>
        <div ng-show="!productLoading" ng-click="$event.stopPropagation();">
            <img ng-src="{{product.thumbnailImage}}">
            <h2>{{product.name}}</h2>
            <span class="price" ng-class="{'on-sale': product.salePrice < product.regularPrice}">
                {{product.salePrice| currency}}
                <i ng-show="product.salePrice < product.regularPrice"><br>Save: {{product.regularPrice - product.salePrice| currency}}</i>
            </span>
            <p ng-bind-html="product.shortDescription" ></p>
        </div>
    </div>    
</div>