<div ng-show="isLoading">
   <div class="loader">Loading...</div>
</div>
<div ng-show="!isLoading">
    <div ng-include="'/html/list/list-container.html'" ng-if="items" onload="itemTempate=itemTempalte"></div>
</div>